<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullname">
    <p>
      Name: {{ nameField.valid }}
      <input
        [class.is-valid]="isNameFieldValid"
        [class.is-invalid]="isNameFieldInvalid"
        type="text"
        formControlName="name"
      />
      <button [disabled]="nameField.invalid" (click)="getNameValue()">
        Get Value
      </button>
      <!-- <code>
      <pre>
          {{ nameField | json }}
      </pre>
    </code> -->
    </p>

    <div
      class="messages"
      [class.active]="nameField.touched && nameField.invalid"
    >
      <p>
        <strong *ngIf="nameField.hasError('required')">
          Este campo es requerido
        </strong>
      </p>

      <p>
        <strong *ngIf="nameField.hasError('maxlength')">
          No puedes ecceder de los 10 caracteres
        </strong>
      </p>
      <p>
        <strong *ngIf="nameField.hasError('pattern')">
          No debe tener caracteres
        </strong>
      </p>
    </div>

    <p>
      Last Name: {{ lastField.valid }}
      <input
        type="text"
        formControlName="last"
      />
    </p>

  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </p>

  <div
    class="messages"
    [class.active]="emailField.touched && emailField.invalid"
  >
    <p>
      <strong *ngIf="emailField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="emailField.hasError('email')">
        Este no es un email valido
      </strong>
    </p>
  </div>

  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone" />
  </p>
  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </p>

  <p>
    Age: {{ ageField.value }}
    <input type="age" formControlName="age" />
  </p>

  <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <p>
      <strong *ngIf="ageField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>

    <p>
      <strong *ngIf="ageField.hasError('min')"> Debe ser mayor de edad </strong>
    </p>

    <p>
      <strong *ngIf="ageField.hasError('max')">
        Debe ser menor de 100 años
      </strong>
    </p>
  </div>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
      <option value="category-4">Category 4</option>
    </select>
  </p>
  <p>
    Tag: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
  </p>

  <p>
    Gender: {{ radioField.value }}
    <label>
      <input name="gender" type="radio" value="male" formControlName="radio" />
      Male
    </label>
    <label>
      <input
        type="radio"
        name="gender"
        value="female"
        formControlName="radio"
      />
      Female
    </label>
    <label>
      <input type="radio" name="gender" value="other" formControlName="radio" />
      Other
    </label>
  </p>

  <p>
    Gender: {{ radioField_2.value }}
    <label>
      <input type="radio" name="zone" value="zona-1" formControlName="radio2" />
      Zona 1
    </label>
    <label>
      <input type="radio" name="zone" value="zona-2" formControlName="radio2" />
      Zona 2
    </label>
    <label>
      <input type="radio" name="zone" value="zona-3" formControlName="radio2" />
      Zona 3
    </label>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>
</form>
